---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Image } from 'astro:assets'
import aerolinea from '@assets/img/aerolinea.drawio.png'
---

<DefaultLayout title="Modelado - Einny Camyla">

  <section class="py-20 container max-w-5xl">
    
    <h1 class="text-5xl font-bold mb-16 text-center">
      Modelado
    </h1>

    <!-- MODELO 1 -->
    <div class="p-[2px] rounded-3xl bg-gradient-to-r from-purple-500 via-pink-500 to-indigo-500 mb-20 shadow-2xl">
      
      <div class="bg-zinc-900 p-10 rounded-3xl">
        
        <h2 class="text-2xl font-semibold mb-6">
          Modelo 1
        </h2>

        <p class="mb-10 leading-relaxed">
          Una aerolínea requiere una base de datos relacional para registrar sus
          operaciones. Las características del negocio son las siguientes:
          <br /><br />
          • La aerolínea tiene tres recursos principales: Aviones, pilotos y tripulación.
          <br /><br />
          • Los aviones tienen un código (número de cola), un tipo de avión y una base
          a donde pertenece y debe regresar cada número de horas.
          <br /><br />
          • Los pilotos tienen un código, nombre y horas de vuelo.
          <br /><br />
          • Los miembros de la tripulación tienen un código, nombre y teléfonos.
          <br /><br />
          • Pilotos y tripulación tienen una base a la que regresan después de cada jornada.
          <br /><br />
          • Los vuelos van desde un origen a un destino a una hora concreta y tiene un número de vuelo.
        </p>

        <div class="bg-white p-6 rounded-xl shadow-lg">
          <Image
            src={aerolinea}
            alt="Modelo ER Aerolínea"
            class="w-full object-contain rounded-lg"
          />
        </div>

      </div>

    </div>


    <!--
    <div class="p-[2px] rounded-3xl bg-gradient-to-r from-purple-500 via-pink-500 to-indigo-500 mb-20 shadow-2xl">
      <div class="bg-zinc-900 p-10 rounded-3xl">
        <h2 class="text-2xl font-semibold mb-6">Modelo 2</h2>
        <p class="mb-10">Descripción del modelo...</p>
      </div>
    </div>
    -->

  </section>

</DefaultLayout>