---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Image } from 'astro:assets'
import aerolinea from '@assets/img/aerolinea.drawio.png'
---

<DefaultLayout title="Modelado - Einny Camyla">

  <section class="py-20 container">
    <h1 class="text-5xl font-bold mb-10 text-center">
      Modelado
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      
      <div class="bg-zinc-800 p-6 rounded-xl shadow-lg">
        <h2 class="text-xl font-semibold mb-2">Modelo 1</h2>
        <p>Una aerolínea requiere una base de datos relacional para registrar sus
operaciones. Las características del negocio son las siguientes:
• La aerolínea tiene tres recursos principales: Aviones, pilotos y tripulación.
• Los aviones tienen un código (número de cola), un tipo de avión y una base
a donde pertenece y debe regresar cada número de horas.
• Los pilotos tienen un código, nombre y horas de vuelo.
• Los miembros de la tripulación tienen un código, nombre y teléfonos.
• Pilotos y tripulación tienen una base a la que regresan después de cada
jornada.
• Los vuelos van desde un origen a un destino a una hora concreta y tiene un
número de vuelo.
36
</p>
<Image
  src={aerolinea}
  alt="Modelo ER Aerolínea"
  class="rounded-lg w-full object-contain"
/>
      </div>

      <div class="bg-zinc-800 p-6 rounded-xl shadow-lg">
        <h2 class="text-xl font-semibold mb-2">Modelo 2</h2>
        <p>Descripción de tu modelo.</p>
      </div>

    </div>

  </section>

</DefaultLayout>