---
import { Link } from 'accessible-astro-components'
import { Image } from 'astro:assets'
import miFoto from '@assets/img/mi-foto.png'
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      
      <!-- TEXTO -->
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <span class="text-gradient">PORTAFOLIO</span><br />
          Einny Camyla Poveda Garcia
        </h1>

        <div class="flex gap-4">
          <Link
            href="/evidencias"
            isButton
            type="primary"
            animateOnHover
            animationType="boop"
          >
            Ver Evidencias
          </Link>

          <Link
            href="/presentacion"
            isButton
            type="secondary"
            animateOnHover
            animationType="boop"
          >
            Sobre mí
          </Link>
        </div>
      </div>

      <!-- IMAGEN -->
      <div class="hidden lg:block p-2 rounded-2xl bg-gradient-to-tr from-purple-500 to-pink-500 shadow-2xl">
        <Image
          class="rounded-2xl"
          src={miFoto}
          alt="Foto de Einny Camyla"
          width={450}
          height={450}
          loading="eager"
        />
      </div>

    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
